#kalam-pic{
    height: 330px;
    width: 470px;
}
.heading{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #171616;
    text-shadow: #b8a8a8 3px 4px;
}
.about-heading{
 font-family: cursive;
 color: azure;
}
ul {
    list-style-type: none;
}
ul li{
    font-size: large;
    font-weight: 400;
    padding: 15px;
}
.about-container{
    background-color: rgb(78, 74, 74);
}
.about-list{
    border: 1px solid black;
    border-radius: 15px;
    font-style: italic;
    color: aliceblue;
    background-color: rgb(37, 35, 35);
    justify-content: center;
    width: 60%;
}
.more{
    color: azure;
    height: 110px;
    background: rgb(3, 3, 19);
}
#link{
    color: rgb(201, 234, 255);
    text-decoration: underline;
}